<div style="background: linear-gradient(to right, #fff, rgba(251, 216, 190, 0.8)); min-height: 100%">
  <div class="d-flex justify-content-center fluid-container" >
    <div class= "container d-flex justify-content-center" >
      <%= render 'new'%>
    </div>
  </div>
</div>
