<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur Shining</h1>
    <p>
      Vous vous êtes inscrit sur Shining en utilisant l'e-mail suivant : <%= @user.email %>.
      Nous sommes heureux de vous compter parmi nous et espérons que vous trouverez sur notre site les informations et le soutien que vous cherchez.

      Shining a pour objectif de libérer la parole et de partager le combat que vous menez contre votre pathologie. 
      Pour cela des milliers d'autres shiners et leurs accompagnants prodiguent déjà de bons conseils.
    </p>
    <p>
      Pour accéder aux discussions, partager votre expérience et prodiguer de bons conseils connectez-vous via :<%=@url%>.
    </p>
    <p> A très vite sur Shining ! </p>
  </body>
</html>