<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez Helpnet!</h1>
    <p>
      Vous vous êtes inscrit sur Helpnet en utilisant l'e-mail suivant : <%= @user.email %>.
      Nous sommes heureux de vous compter parmi nous et espérons que vous trouverez sur notre site les informations et le soutien que vous cherchez.
    </p>
    <p>
      Pour accéder à votre espace client, connectez-vous via :<%=@url%>.
    </p>
    <p> A très vite sur Helpnet ! </p>
  </body>
</html>