<div class="container-fluid py-5 bg-orange-gradient">
  <h1 class="text-center">Modifier l'article</h1>
</div>

<%= render 'articles/articles_form' %>


<div class="row py-3">
  <div class="col text-center">
    <% if current_user && (current_user == @user || current_user.admin == true)%>
      <p>Pour supprimer cet article, cliquer ici : </p>
      <%= link_to "Supprimer",article_path(@article.id), method: :delete, data: {confirm: "Etes vous sur(e)? L'article sera définitevement supprimé"}, class: 'btn btn-outline-primary' %>
    <%end%>
  </div>
</div>
