<div class="container-fluid py-5 bg-orange-gradient">
  <h1 class="text-center">Créer un nouvel article</h1>
</div>
<div class="container my-3">
  <%= form_tag articles_path, method: "post" do %>
    <div class="container pt-3 pl-5">
      <div class="row">
        <h4 class="pb-3">Titre :</h4>
        <p> <%= text_field_tag :title,"", style: 'width: 40rem;' %> </p>
      </div>
      <div class="row">
        <h4 class="pb-3">Article :</h4>
        <p> <%= text_area_tag :content,"", style: 'width: 50rem; height: 20rem;' %> </p>
      </div>
    </div>
    <div class="container py-3 text-center">
          <%= submit_tag "Soumettre l'article", class: "btn btn-secondary" %>      
    </div>
  <% end %>
</div>