<div class="container-fluid py-5 bg-orange-gradient">
  <h1 class="text-center">Créer un nouvel article</h1>
</div>
<%= form_tag articles_path, method: "post" do %>
  <div class="container bg-light py-3">
    <div class="row">
      <div class="col py-3 text-center">
        <div class="row">
          <h4 class="pb-3">Titre :</h4>
          <p> <%= text_field_tag :title, class:"w-75" %> </p>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col py-3 text-center">
          <div class="row">
            <h4 class="pb-3">Article :</h4>
            <p> <%= text_area_tag :content, class:"w-75", style: 'height: 20rem;' %> </p>
          </div>    
        </div>
    </div>
  <div class="container bg-light py-3">
      <div class="row text-center py-3">
      <div class="col">
        <%= submit_tag "Soumettre l'article", class: "btn btn-primary" %>      
      </div>
    </div>
  </div>
<% end %>