<!-- ***** HEADER ***** -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row py-5">
      <div class="col-md-8 py-5 my-5">
        <h1>LOREM ipsum dolor</h1>
        <p>sit amet, consectetur adipisicing elit. Temporibus laborum fuga ipsum</p>
        <a href="#" class="btn btn-lg btn-primary">Découvrir</a>
      </div>
<!-- ***** SIGN UP FORM ***** -->
      <div class="col-md-4">

      </div>
    </div>
  </div>
</div>

<!-- ***** 3 KEYPOINTS ROW ***** -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 text-center bg-orange py-5">
      <span class="fa fa-comments errspan my-3"></span>
      <h2 class="py-3">Un espace d'échange</h2>
      <%= link_to "Découvrir", main_app.thredded_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-4 text-center bg-dark-purple py-5">
      <span class="fa fa-user errspan my-3"></span>
      <h2 class="py-3">Des professionnels</h2>
          <%= link_to "Découvrir", main_app.associations_path, class: 'btn btn-lg btn-primary' %>
    </div>
    <div class="col-md-4 text-center bg-light-purple py-5">
      <span class="fas fa-hand-holding-heart errspan my-3"></span>
      <h2 class="py-3">De la solidarité</h2>
      <a href="#" class="btn btn-lg btn-primary my-3">Découvrir</a>
    </div>
  </div>
</div>

<!-- ***** QUOTE ROW ***** -->
<div class="container py-5">
  <div class="col text-center py-5">
    <blockquote class="py-5">
      <p>"Citation qui irait bien avec les principes de communication et liberté"</p>
      <p class="blockquote-footer">Someone Famous, I guess</p>
    </blockquote>
  </div>
</div>

<!-- ***** FORUM ROW ***** -->
<div class="container-fluid bg-orange-gradient py-5">
  <div class="row py-5">
    <div class="col-md-6 px-5">
      <img src="https://images.unsplash.com/photo-1542338347-4fff3276af78?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="rounded float-right" height="300">
    </div>
    <div class="col-md-6 py-5 px-4 text-center text-md-left">
      <h2>Forum de discussion</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laudantium</p>
      <%= link_to "Découvrir", main_app.thredded_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
</div>

<!-- ***** ARTICLE && ASSOS ROW ***** -->
<div class="container py-5">
  <div class="row py-5">
    <div class="col-md-6 py-5 px-4 text-center text-md-left">
      <h2>Des articles professionnels</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laudantium</p>
      <a href="#" class="btn btn-lg btn-primary">Découvrir</a>
    </div>
    <div class="col-md-6 py-5 px-4 text-center text-md-left shadow">
      <h2>Nos assos partenaires</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laudantium</p>
          <%= link_to "Découvrir", main_app.associations_path, class: 'btn btn-lg btn-primary' %>
      </div>
  </div>
</div>

<!-- ***** DONATEPLACE ROW ***** -->

<div class="container-fluid py-5 bg-purple-gradient">
  <div class="container">
    <div class="row py-5">
      <div class="col-md-6 py-5 px-4 text-center text-md-left">
        <h2>Notre DonnatePlace</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, laudantium</p>
        <a href="#" class="btn btn-lg btn-primary">Découvrir</a>
      </div>
    </div>
  </div>
</div>
