<!-- ***** HEADER ***** -->
<div class="container-fluid bg-purple-gradient">
  <div class="container py-3">
    <div class="row py-5 d-flex justify-content-center">
      <div class="col-md-9 mt-5 text-center">
        <h1>Nos prochains évènements : </h1>
        <p class="py-3">Pour ceux qui veulent agir, libérons la parole ! </p>
      </div>
    </div>
  </div>
</div>

<!-- ***** Organizations list ***** -->
<div class="container-fluid py-3">
  <div class="row justify-content-center">
      <%= render 'events/events_list'%>
  </div>
</div>

