<div class="bg-orange-gradient pt-5 pb-5">
	<h1 class="text-center">It's all about the people</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-mb-8">
			<h2 class="mb-3 p-2"> Pourquoi <strong>Shine</strong> ? </h2>
			<h5 class="p-2"> Nous avons créer <strong> Shine</strong> dans le but de créer une communauté de shiners pour libérez la parole autour de la Maladie de Charcot. <br> Il est important de créer une communanté autour des maladies rares, surtout quand elles ne le sont pas tant que ça. </h5>
		</div>
		<div class="col-mb-4">
			<%= image_tag "flower.jpg", alt:"", class:"rounded img-fluid", height:"300" %>
		</div>
	</div>
</div>