<h1 class="m-5">It's all about the people</h1>
<div class="container d-flex flex-row">
<div class="">
<h2 class="mb-3 p-2">Pourquoi Shine ? </h2>
<h5 class="p-2"> Nous avons créer Shine dans le but de créer une communauté de shiners pour libérez la parole autour de la maladie. </h5>
</div>
<video controls autoplay loop id="sample-autoplay-video" class="m-2" width="640" height="550" fullscreen="false" webkit-playsinline controls>
<source src="https://cdn.sandwich.co/site/wp-content/uploads/2019/09/reel-windsor-v02_square-1080.mp4" type="video/mp4">
</video>