<div class="container">

  <!-- ********** NAVBAR ********** -->
  <div class="my-5 clearfix">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="navbars">Navbars</h1>
        </div>
        <div class="bs-component my-4">
          <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 shadow">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
        <div class="bs-component">
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">About</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <!-- ********** BUTTONS ********** -->

  <div class="my-5">
    <div class="page-header">
      <div class="row">
        <div class="col-lg-12">
          <h1 id="buttons">Buttons</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7">

        <p class="bs-component">
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-link">Link</button>
        </p>

        <p class="bs-component">
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
        </p>

        <div class="bs-component">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary">Primary</button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            </div>
          </div>
          <div class="bs-component">
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-primary">Default button</button>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- ********** Typography ********** -->
  <div class="my-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="typography">Typography</h1>
        </div>
      </div>
    </div>

    <!-- ********** Headings ********** -->

    <div class="row">
      <div class="col-lg-6">
        <div class="bs-component">
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>
          <h3>
            Heading
            <small class="text-muted">with muted text</small>
          </h3>
          <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bs-component">
          <h2>Example body text</h2>
          <p>Nullam quis risus eget
            <a href="#">urna mollis ornare</a>
            vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <p>
            <small>This line of text is meant to be treated as fine print.</small>
          </p>
          <p>The following is
            <strong>rendered as bold text</strong>.</p>
          <p>The following is
            <em>rendered as italicized text</em>.</p>
          <p>An abbreviation of the word attribute is
            <abbr title="attribute">attr</abbr>.</p>
        </div>
      </div>
    </div>
    <!-- ********** Blockquotes ********** -->

    <div class="row">
      <div class="col-lg-12">
        <h2 id="type-blockquotes">Blockquotes</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="bs-component">
          <blockquote class="blockquote">
            <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <blockquote class="blockquote text-center">
            <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="bs-component">
          <blockquote class="blockquote text-right">
            <p class="mb-0">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante."</p>
            <footer class="blockquote-footer">Someone famous in
              <cite title="Source Title">Source Title</cite>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <!-- ********** Forms ********** -->
  <div class="my-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-header">
          <h1 id="forms">Formulaires</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="bs-component">
          <form>
            <fieldset>
              <legend>Legend</legend>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="text" readonly="readonly" class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Adresse Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez votre adresse mail">
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons votre adresse mail à personne.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Allez y personne ne vous regarde">
              </div>

              <div class="form-group">
                <label for="exampleTextarea">Entrez une description</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Charger un fichier</label>
                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
              </div>

              <fieldset class="form-group">
                <legend>Checkboxes</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="checked">
                    Cette option est séléctionnée
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" disabled="disabled">
                    Cette option n'est pas séléctionnée
                  </label>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- ********** Navs ********** -->
    <div class="my-5">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="navs">Navs</h1>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 2rem;">

        <div class="col-lg-6">
          <h2 id="pagination">Pagination</h2>
          <div class="bs-component">
            <div>
              <ul class="pagination">
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul>
            </div>

            <div>
              <ul class="pagination pagination-lg">
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul>
            </div>

            <div>
              <ul class="pagination pagination-sm">
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- ********** Indicators ********** -->
    <div class="my-5">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="indicators">Flashs</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h2>Alerts</h2>
          <div class="bs-component">
            <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4 class="alert-heading">Warning!</h4>
              <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
                <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="bs-component">
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Oh snap!</strong>
              <a href="#" class="alert-link">Change a few things up</a>
              and try submitting again.
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <div class="alert alert-dismissible alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Well done!</strong>
              You successfully read
              <a href="#" class="alert-link">this important alert message</a>.
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="bs-component">
            <div class="alert alert-dismissible alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Heads up!</strong>
              This
              <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="my-5">

      <div class="row">
        <div class="col-lg-12">
          <div class="page-header">
            <h1 id="indicators">Backgrounds</h1>
          </div>
        </div>
      </div>


      <div class="row py-5 my-3 bg-orange-gradient">
        <p class="py-5">.bg-orange-gradient</p>
      </div>
      <div class="row py-5 bg-purple-gradient">
        <p class="py-5">.bg-purple-gradient</p>
      </div>
    <div class="row my-3">
      <div class="col-md-4 py-5 bg-orange">
        <p class="py-5">.bg-orange</p>
      </div>
      <div class="col-md-4 py-5 bg-light-purple">
        <p class="py-5">.bg-light-purple</p>
      </div>
      <div class="col-md-4 py-5 bg-dark-purple">
        <p class="py-5 text-light">.bg-dark-purple</p>
      </div>
    </div>
  </div>

  </div>
