<div class="container-fluid py-5 bg-orange-gradient">
  <br>
</div>

<div class="container mt-n5 pb-3">
  <div class="row ">
    <div class="col-md-10 text-center text-md-left">
      <h1>Proposer un nouvel objet à la communauté</h1>
    </div>
  </div>
</div>

<div class="container mt-5">
    <%= render 'items/item_form' %>
</div>



