<div class="container-fluid py-5 bg-light">
  <br>
</div>

<div class="container mt-n5">
  <div class="row">
    <div class="col-md-2">
      <img src="" alt="">
    </div>
    <div class="col-md-4">
      <h1> <%= @association.name %> </h1>
    </div>
  </div>

<div class="row py-3">
  <div class="col text-center p-5">
    <p> Description : </p>
    <p> <%= @association.description %> </p>
  </div>
</div>

</div>
