.form{
    background-color: white;
    margin: 10% auto 10% auto;
    padding: 1%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #CCC;
}

.form_home{
    background-color: white;
    padding: 1%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #CCC;
}

.form_home p{
font-size: 12px;
}
.form_home label{
    font-size: 14px;
    }

.btn-google{
    color:#fff;background-color:#dd4b39;
    border-color:rgba(0,0,0,0.2);
}
.btn-google:focus,.btn-google.focus{
    color:#fff;background-color:#c23321;
    border-color:rgba(0,0,0,0.2);
}
.btn-google:hover{
    color:#fff;background-color:#c23321;
    
    border-color:rgba(0,0,0,0.2);
}
.errspan {    
    position: relative;
    z-index: 2;
    color: grey;
  }

.noborder {
    border: none;
}

