// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.icon-1 {
  color: #7776BC !important;
}

.icon-2 {
  color: #B8B8FF;
}

.icon-3 {
  color: #fbd8be;
}
