// Place all the styles related to the associations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.usertype-cardmodel:hover {
  background: linear-gradient(127deg, #fff, rgba(184, 184, 255, 0.6)) !important;
  transform: scale(1.08);
  transition: 0.3s;
}
