<h1 class="d-flex justify-content-center mt-5">Nos associations partenaires</h1>
<div class="container">
  <div class="card-deck mt-3">
    <% @organizations.each do |organization| %>
          <%= render 'card', organization: organization %>
    <% end %>
  </div>
  <div class="d-flex flex-row justify-content-center mt-5 mb-5">
    <% if current_user && current_user.admin == true %>
      <%= link_to "Ajouter une nouvelle association", new_organization_path(), :class => "btn btn-primary text-white" %>  
    <%end%>
  </div>
</div>